In [ ]:
Introduction to python programming

In [ ]:
Understanding The Variables In Python

In [3]:
a=2
b=3

In [4]:
c=a+b
print(c)

5

In [ ]:
Rules For Declaring The Variables In Python

In [ ]:
Rule No 1:No Namespaces while declaring the variable name

In [5]:
firstname = 'Faiyaz'
print(firstname)

Faiyaz

In [6]:
first_name ='faiyaz'
print(first_name)

faiyaz

In [ ]:
Rule No 2 :A Variable name should not end with spaces

In [7]:
1name = 'anad'
print(1name)

SyntaxError: invalid decimal literal (1820976002.py, line 1)

In [8]:
name1 = 'anad'
print(name1)

anad

In [ ]:
Rule No 3 :A Variable Should not contain any special charecters

In [9]:
name@ ='vanacha'
print(name@)

SyntaxError: invalid syntax (3840104673.py, line 1)

In [ ]:
Introduction to Data types in Python:
1.string(str)
2.Number(int,float)
3.lists(list)
4.tuples(tuple)
5.dictionaries(dict)

In [ ]:
Python programming is a case sensitive programming language

In [ ]:
classification of Data types:
Broadly data types are categorized as 
1.mutable databases:which we will be able to edit/modify
2.immutable databases:which we will not be able to modify

In [ ]:
Introduction to string data type

In [11]:
#Definition:A string is nothing but a series of charecters decalared in quotes
#classified: It is classified as immutable

In [ ]:
HOW DO WE DEFINE?
1.single quotes
2.double quotes

In [12]:
name ='akash'
print(name)

akash

In [13]:
name2 ="Hajera"
print(name2)

Hajera

In [ ]:
Introduction to string methods:

In [14]:
type(name)

str

In [ ]:
# is used for comments

In [15]:
fullname ='kiran reddy'
print(fullname)

kiran reddy

In [17]:
#TO GET STARTING LETTER OF BOTH THE WORDS CAPITAL:
print(fullname.title())

Kiran Reddy

In [19]:
#TO GET ALL LETTERS OF BOTH THE WORDS CAPITAL:
print(fullname.upper())

KIRAN REDDY

In [ ]:
#TO GET ALL LETTERS OF BOTH THE WORDS in sm: