In [1]:
num = 1
num2 = 4

In [2]:
type(num)

int

In [4]:
x=0.1
print(x)

0.1

In [5]:
type(x)

float

In [ ]:
Introduction to list data type:

In [ ]:
classification: It is classified as a mutable data type.

In [ ]:
how do we define a list ----> []

In [6]:
students = ['vicky','abdul','shree','anwar','murthi']
print(students)

['vicky', 'abdul', 'shree', 'anwar', 'murthi']

In [ ]:
Introduction to indexing : 0,1,2,3-----

In [ ]:
#how to acess the elements in the list?
#i want to acess abduls name

In [7]:
print(students[1])

abdul

In [8]:
print(students[1].title())

Abdul

In [10]:
#1.How to add elements to the list?
#2.How to modify elements of the list?
#3.How to delete elements of the list?

In [11]:
print(students)

['vicky', 'abdul', 'shree', 'anwar', 'murthi']

In [12]:
students.append('varun')
print(students)

['vicky', 'abdul', 'shree', 'anwar', 'murthi', 'varun']

In [13]:
students.append('praneeth')
print(students)

['vicky', 'abdul', 'shree', 'anwar', 'murthi', 'varun', 'praneeth']

In [ ]:
#It will be added to the end of the list
#required i want to add at the second index divya

In [14]:
students.insert(2,'divya')

In [15]:
print(students)

['vicky', 'abdul', 'divya', 'shree', 'anwar', 'murthi', 'varun', 'praneeth']

In [ ]:
#required i want to modify the name divya with dinesh

In [16]:
students[2] = 'dinesh'

In [17]:
print(students)

['vicky', 'abdul', 'dinesh', 'shree', 'anwar', 'murthi', 'varun', 'praneeth']

In [ ]:
#required I want to delete the name vicky in the list

In [ ]:
#For deleting there are two different approaches
1.temp deleting: It will be storing a carboncopy of the deleted item to the variable assingment
we will be using method call pop()
By default pop will be deleting last element in the list
2.Permanent delete

In [19]:
x = students.pop()
print(x)

praneeth

In [20]:
print(students)

['vicky', 'abdul', 'dinesh', 'shree', 'anwar', 'murthi', 'varun']

In [21]:
a= students.pop(0)
print(students)

['abdul', 'dinesh', 'shree', 'anwar', 'murthi', 'varun']

In [22]:
print(a)

vicky

In [ ]:
Required i want to delete a specific people

In [26]:
 del.students[1]

SyntaxError: invalid syntax (4294150046.py, line 1)

In [25]:
print(students)

['abdul', 'dinesh', 'shree', 'anwar', 'murthi', 'varun']