In [ ]:
Continuation of list data type:

In [ ]:
Organizing the list data type:

In [1]:
cars = ['kia','audi','maruthi','hyndayi','wolksvogan','benz','suzuki','bmw']

In [2]:
print(cars)

['kia', 'audi', 'maruthi', 'hyndayi', 'wolksvogan', 'benz', 'suzuki', 'bmw']

In [ ]:
#I want to organize the list in the alphabetical order
#A-Z order

In [ ]:
# Two approaches
#1. Temporary approaches( we will get the original order)
#2. Permanent approaches ( changes are applied permanentlyaaaaaaa0

In [3]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'hyndayi', 'kia', 'maruthi', 'suzuki', 'wolksvogan']

In [4]:
print(cars)

['kia', 'audi', 'maruthi', 'hyndayi', 'wolksvogan', 'benz', 'suzuki', 'bmw']

In [5]:
cars.sort()

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'hyndayi', 'kia', 'maruthi', 'suzuki', 'wolksvogan']

In [7]:
# I want to know how many cars
len(cars)

8

In [ ]:
#I want to get the opposite of the order

In [8]:
cars.reverse()
print(cars)

['wolksvogan', 'suzuki', 'maruthi', 'kia', 'hyndayi', 'bmw', 'benz', 'audi']

In [ ]:
#Introduction to slicing:

In [ ]:
#General syntax of slicing
#[start_value:stop_value:step_count]

In [9]:
students =['Divya','Harika','Naveen','Hafsa','Karthik','vicky']

In [ ]:
#Note: Last value is always exclusive to include the last value increment the index by one
#req: i want to get divya and harika in the slice?

In [10]:
print(students[0:2])

['Divya', 'Harika']

In [11]:
print(students[2:4])

['Naveen', 'Hafsa']

In [12]:
print(students[0:6:3])

['Divya', 'Hafsa']

In [ ]:
#INTRODUCTION TO TUPLE DATA TYPE:

In [ ]:
#Defintion: An immutable list is called an tuple data type.
#Classification : It is classified as an immutable data type.
#How do you define tuple data type?

In [14]:
area_size = (27,30)

In [15]:
print(area_size)

(27, 30)

In [16]:
type(area_size)

tuple

In [17]:
area_size[0] = 28

TypeError: 'tuple' object does not support item assignment